/* here you can put your own css to customize and override the theme */
.page-footer .page-footer-inner{
	display: block !important;
	text-align: center;
	float: none !important;
}
.dropdown-menu {
    box-shadow: none !important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu{
	background: #3b3f51 !important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu:after {
    border-bottom-color: #3b3f51 !important;
}
.login .content .form-actions {
    padding: 10px 30px 10px 30px !important;
    border-bottom: none !important;
}
.login .content .form-actions .btn {
    padding: 6px 12px !important;
}
.login .content h4 {
    text-align: center;
}
.login .content .rememberme {
     margin-left: 0px !important; 
}
.page-bar{
	margin-bottom: 10px;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 18px !important;
}
.table .btn {
     margin-right: 0px !important; 
}
div.user_thumb {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #A663C2;
  color: #FFF;
  min-width: 2em;
  border-radius: 50% !important;
  vertical-align: middle;
  padding:10px;
  margin-right: 5px;
  font-size: 20px;
}